body {
  font-family: sans-serif;
  color: #f0c987;
  background-color: #3c153b;
  margin: 0;
}

video {
  width: 240px;
  height: 180px;
}

button {
  background-color: #89bd9e;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #3c153b;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: #3c153b;
  background-color: #f0c987;
}
input:focus {
  outline: none !important;
  border-color: #3c153b;
}

.row {
  justify-content: center;
  display: flex;
  align-items: center;
}

.gap {
  gap: 5px;
}

.wrap {
  flex-wrap: wrap;
}

.bold {
  font-weight: bold;
}

.large-font {
  font-size: large;
}

.extra-large-font {
  font-size: xx-large;
}

.top-spacing {
  margin-top: 10px;
}

.hide {
  display: none;
}

.bar {
  padding: 10px;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.video-name {
  background-color: #f0c987;
  color: #3c153b;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

#title-bar {
  justify-content: space-between;
  background-color: #db4c40;
}

#title-bar > * {
  width: 100%;
}

#login-bar,
#quiz-bar,
#leave-stream-bar {
  background-color: #8b1e3f;
}
