body {
  font-family: sans-serif;
  color: #f0c987;
  background-color: #3c153b;
  margin: 0;
}

button {
  background-color: #89bd9e;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #3c153b;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
}

input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  color: #3c153b;
  background-color: #f0c987;
}
input:focus {
  outline: none !important;
  border-color: #3c153b;
}

.row {
  justify-content: center;
  display: flex;
  align-items: center;
}

.gap {
  gap: 5px;
}

.bold {
  font-weight: bold;
}

.top-spacing {
  margin-top: 10px;
}

.hide {
  display: none;
}

.bar {
  padding: 10px;
  align-items: center;
  text-align: center;
}

.container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#title-bar {
  justify-content: space-between;
  background-color: #db4c40;
  font-size: xx-large;
}

#title-bar > * {
  width: 100%;
}

#quiz-bar {
  background-color: #8b1e3f;
}

#video-container {
  display: flex;
}

#video-container video {
  flex-grow: 1;
  min-width: 250px;
}
