body {
  font-family: sans-serif;
  color: #f0c987;
  background-color: #3c153b;
  margin: 0;
}

#title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  background-color: #db4c40;
  padding: 20px;
}

#title-bar > * {
  width: 100%;
}

#video-container {
  display: flex;
}

#video-container video {
  flex-grow: 1;
  min-width: 250px;
}
