<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/style.css" />
    <!-- Paho MQTT dependency -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js"></script>
    <!-- Environment variable initialization through Go's html/template package -->
    <script type="text/javascript">
      let env = {{.}}
    </script>
    <!-- Main script -->
    <script type="module" src="static/scripts/main.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="title-bar" class="bar flex">
        <div class="container">
          <div class="bold extra-large-font">CoffeeTalk</div>
          <div class="row gap">
            <div class="bold">Currently talking:</div>
            <div id="participant-count"></div>
          </div>
          <div id="error-field" class="bold"></div>
        </div>
      </div>
      <div class="action-bars">
        <div id="login-bar" class="bar flex">
          <div class="container">
            <div class="row gap">
              <div class="bold">Name:</div>
              <input id="username-input" type="text" class="bold" />
            </div>
            <button id="join-call" class="top-spacing">Join Call</button>
          </div>
        </div>
        <div id="quiz-bar" class="bar flex hide">
          <div class="container">
            <button id="start-quiz">Start Quiz</button>
            <div id="quiz-title" class="large-font bold hide">Quiz</div>
            <div id="quiz-question-title" class="row gap top-spacing hide">
              <div class="bold">Question:</div>
              <div id="quiz-question"></div>
            </div>
            <div id="quiz-answer-title" class="row gap top-spacing hide">
              <div class="bold">Answer:</div>
              <div id="quiz-answer"></div>
            </div>
          </div>
        </div>
        <div id="leave-stream-bar" class="bar flex hide">
          <div class="container">
            <button id="leave-stream">Leave Call</button>
          </div>
        </div>
      </div>
      <div id="videos" class="row large-gap wrap top-spacing">
        <div>
          <video id="local-video" autoplay muted></video>
          <div class="video-name">Me</div>
        </div>
      </div>
    </div>
  </body>
</html>
